/*
main css */

/*global
------------------------------*/
*{
  box-sizing: border-box;
}

body{
  font: 13px arial;
  color: #fff;
}

a{
  text-decoration: none;
  color: #fff;
}

p{
  margin: 0 0 10px;
  line-height: 15px;
}

time{
  font: 11px arial;
  font-weight: bold;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h1{
  font-size: 42px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 26px;
}

h4{
  font-size: 16px;
}

h5{
  font-size: 15px;
}

h6{
  font-size: 16px;
}

/*layout
------------------------------*/
.wrapper{
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

/*main
------------------------------*/


/*header
------------------------------*/

.header {
  background: #62346f;
  height: 100px;
  padding: 0 30px;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
}

.headernav ul,
.miscnav ul{
  display: flex;
}

.headernav li{
  margin: 0 8px;
}

.headernav a{
  padding: 8px 18px;
  display: inline-block;
  font-size: 15px;
}

.headernav li a:hover,
.headernav li a:active,
.headernav li a:focus{
  background-color: #fff;
  box-shadow: 0px 2px 5px #A9A9A9;
  color: #62346f;
  text-shadow: 1px 1px 4px;
  border-radius: 15px;
}

.miscnav li{
  padding: 0 15px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.miscnav li img:hover,
.miscnav li img:active,
.miscnav li img:focus{
  transform: scale(1.15);
  transform-origin: bottom;
}

/*global articles
------------------------------*/

.slide-new .overtext,
.middle-new .overtext,
.short-new .overtext{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0,0,0,.4);
  cursor: pointer;
}

.topicality .overtext,
.more-news .overtext{
  position: absolute;
  top: 0px;
  left: 10px;
  bottom: 0px;
  right: 10px;
  background: rgba(0,0,0,.4);
  cursor: pointer;
}

.slide-new .text :nth-child(2),
.middle-new .text,
.short-new .text,
.topicality .text,
.more-news .text{
  position: absolute;
  bottom: 0px;
}

.underline-effect{
  display: inline-block;
  position: relative;
}

.underline-effect::after{
  content: '';
  height: 8px;
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0%;
  border-radius: 10px;
  transition: 0.3s;
} 

.underline-effect:hover::after{
  width: 60%;
}

.underline-news::after{
  background: #fff;
}

.underline-topicality::after{
  background: #62346f;
}

.underline-more::after{
  background: #009d78;
}

.time{
  position: absolute;
  bottom: 0px;
}

.time-slide{
  margin: 0 0 45px 20px;
}

.time-middle{
  margin: 0 0 45px 8px;
}

.time-short{
  margin: 0 0 8px 10px;
}

.time-articles{
  margin: 0 0 11px 12px;
}

/*section news
------------------------------*/

.section-news{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.slide-new,
.middle-new,
.shortnew-panel{
  margin: 20px 0px;
}

.slide-new,
.middle-new,
.short-new{
  position: relative;
}

.short-middle{
  margin: 20px 0px;
}

.slide-new .text{
  padding-left: 20px;
}

.slide-new .text :nth-child(1){
  margin-top: 12px;
}

.slide-new .text :nth-child(2){
  width: 75%;
  margin-bottom: 80px;
}

.middle-new .text{
  width: 70%;
  padding-left: 8px;
  margin-bottom: 75px;
  line-height: 24px;
}

.middle-new .text h3{
  font-size: 20px;
}

.short-new .text{
  width: 70%;
  padding-left: 9px;
  margin-bottom: 28px;
  line-height: 18px;
}

.slide-new img,
.middle-new img{
  height: 340px;
}

.shortnew-panel img{
  height: 100px;
}

/*section bottom global
------------------------------*/
.sections-bottom{
  display: flex;
}

.sections-bottom img{
  width: 100%;
  height: 160px;
}

.sections-bottom h4{
  line-height: 24px;
}

.topicality,
.more-news{
  position: relative;
}

.topicality .text,
.more-news .text{
  width: 70%;
  margin: 0 0 40px 11px;
}

/*section topicality
------------------------------*/

.section-topicality h2{
  color: #62346f;
  margin: 0 0 15px 0;
}

.articles-topicality{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.topicality{
  width: 50%;
  margin: 0 0 20px 0;
  padding: 0 10px;
}

/*section more read
------------------------------*/
.section-more h2{
  margin: 0 0 15px 10px;
  color: #009d78;
}

.articles-more{
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
}

.more-news{ 
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0 10px;
}

/*see more button
------------------------------*/

.see-more{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  margin: 25px 0;
  padding: 6px 38px;
  background: none;
  border: 3px solid #959595;
  border-radius: 20px;
  color: #959595;
  font-weight: bold;
  font-size: 18px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.button:hover,
.button:active,
.button:focus{
  transform: scale(1.05);
}

/*footer
------------------------------*/

.footer{
  background: #62346f;
  height: 75px;
  padding: 0 30px;
  margin-top: 5px;
}

.footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.footer a,
.footer p{
  font-family: 'Lato', sans-serif;
}

.footer a{
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  text-decoration: underline;
  transition-property: transform;
  transition-duration: 0.3s;
}

.footer a:hover,
.footer a:active,
.footer a:focus{
  transform: scale(1.2);
}
