/*
main css */

/*global
------------------------------*/
*{
  box-sizing: border-box;
}

body{
  font: 13px arial;
  color: #fff;
}

a{
  text-decoration: none;
  color: #fff;
}

p{
  margin: 0 0 10px;
  line-height: 15px;
}

time{
  font: 11px arial;
  font-weight: bold;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

h1{
  font-size: 42px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 26px;
}

h4{
  font-size: 16px;
}

h5{
  font-size: 15px;
}

h6{
  font-size: 16px;
}

img{
  object-fit: cover;
}

/*layout
------------------------------*/

.wrapper{
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

/*main
------------------------------*/


/*header
------------------------------*/

.header {
  background: #62346f;
  height: 100px;
  padding: 0 30px;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.headernav ul,
.miscnav ul{
  display: flex;
}

.headernav li{
  margin: 0 8px;
}

.headernav a{
  padding: 8px 18px;
  display: inline-block;
  font-size: 15px;
  border-radius: 15px;
  font-weight: bold;
}

.headernav .hover-nav a:hover,
.headernav .hover-nav a:active,
.headernav .hover-nav a:focus{
  background: #fff;
  color: #62346f;
}

.miscnav li{
  padding: 0 15px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.miscnav li img:hover,
.miscnav li img:active,
.miscnav li img:focus{
  transform: scale(1.15);
  transform-origin: bottom;
}

/*hidden-elements
------------------------------*/

.search{
  display: none;
  width: 100%;
}

.search-bar{
  width: 90%;
  font-size: 26px;
  margin-right: 20px;
  border: none;
  background: none;
}

.search-bar,
.search-bar::placeholder{
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.cancel-button{
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.cancel-button:hover,
.cancel-button:active,
.cancel-button:focus{
  transform: scale(1.1);
}

.hamburger-menu{
  display: none;
}

.hamburger-button{
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.hamburger-button:hover,
.hamburger-button:active,
.hamburger-button:focus{
  transform: scale(1.1);
}

.share-panel{
  display: none;
  background: #562364;
}

.share-buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
}

.share-buttons a{
  margin: 0 15px;
  letter-spacing: 1px;
}

.share-buttons i{
  padding: 0 5px;
  font-size: 12px;
}

.rsp-miscnav,
.rsp-headernav{
  display: none;
}

/*global articles
------------------------------*/

.slide-new .overtext,
.middle-new .overtext,
.short-new .overtext{
  position: absolute;
  top: 0px;
  left: 10px;
  bottom: 0px;
  right: 10px;
  background: rgba(0,0,0,.3);
  cursor: pointer;
}

.short-new .overtext{
  left: 0;
  right: 0;
}

.topicality .overtext,
.more-news .overtext{
  position: absolute;
  top: 0px;
  left: 10px;
  bottom: 0px;
  right: 10px;
  background: rgba(0,0,0,.4);
  cursor: pointer;
}

.slide-new .text :nth-child(2),
.middle-new .text,
.short-new .text,
.topicality .text,
.more-news .text{
  position: absolute;
  bottom: 0px;
}

.underline-effect{
  display: inline-block;
  position: relative;
}

.underline-effect::after{
  content: '';
  height: 8px;
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 0%;
  border-radius: 10px;
  transition: 0.3s;
} 

.underline-effect:hover::after,
.underline-effect:active::after,
.underline-effect:focus::after{
  width: 60%;
}

.underline-news::after{
  background: #fff;
}

.underline-topicality::after{
  background: #62346f;
}

.underline-more::after{
  background: #009d78;
}

.time{
  position: absolute;
  bottom: 0px;
}

.time-slide{
  margin: 0 0 45px 20px;
}

.time-middle{
  margin: 0 0 45px 8px;
}

.time-short{
  margin: 0 0 8px 10px;
}

.time-articles{
  margin: 0 0 11px 12px;
}

/*tag
------------------------------*/

.tag{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  padding: 2px 5px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 9px;
  color: #000;
  font-weight: bold;
  font-size: 13px;
  z-index: 2;
}

.tag:hover,
.tag:active,
.tag:focus{
  color: #fff;
}

.politics:hover,
.politics:active,
.politics:focus{
  background: #5c3667;
}

.technology:hover,
.technology:active,
.technology:focus{
  background: #f9a103;
}

.sport:hover,
.sport:active,
.sport:focus{
  background: #ff0505;
}

.entertainment:hover,
.entertainment:active,
.entertainment:focus{
  background: #ff00e3;
}

/*social networks
------------------------------*/

.social-networks{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;  
  z-index: 2;
}

.networks-news{
  margin: 0 15px 40px 0; 
}

.networks-middle,
.networks-short{
  margin: 0 5px 10px 0;
}

.networks-article{
  margin: 0 5px 14px 0;
}

.facebook-button,
.twitter-button{
  margin: 0 5px;
  background: none;
  border: 2px solid #fff;
  border-radius: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  transition-property: transform;
  transition-duration: 0.5s;
}
 
.facebook-button{
  padding: 5px 9px;
}

.twitter-button{
  padding: 5px 6px;
}

.facebook-button:hover,
.facebook-button:active,
.facebook-button:focus{
  color: #3b5999;
  border-color: #3b5999;
  transform: scale(1.1);
}

.twitter-button:hover,
.twitter-button:active,
.twitter-button:focus{
  color: #55acee;
  border-color: #55acee;
  transform: scale(1.1);
}

/*section news
------------------------------*/

.section-news{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  margin: 20px 0;
}

.slide-new,
.middle-new,
.shortnew-panel{
  padding: 0 10px;
}

.slide-new,
.middle-new,
.short-new{
  position: relative;
}

.slide-new{
  width: 50%;
}

.middle-new{
  width: 16.66%;
}

.shortnew-panel{
  width: 33.33%;
}

.short-middle{
  margin: 20px 0px;
}

.slide-new .text{
  padding-left: 20px;
}

.slide-new .text :nth-child(1){
  margin-top: 12px;
}

.slide-new .text :nth-child(2){
  width: 75%;
  margin-bottom: 80px;
}

.middle-new .text{
  width: 70%;
  padding-left: 8px;
  margin-bottom: 75px;
  line-height: 24px;
}

.middle-new .text h3{
  font-size: 20px;
}

.short-new .text{
  width: 65%;
  padding-left: 9px;
  margin-bottom: 28px;
  line-height: 18px;
}

.slide-new img,
.middle-new img{
  width: 100%;
  height: 340px;
}

.shortnew-panel img{
  width: 100%;
  height: 100px;
}

/*section bottom global
------------------------------*/
.sections-bottom{
  display: flex;
}

.sections-bottom img{
  width: 100%;
  height: 160px;
}

.sections-bottom h4{
  line-height: 24px;
}

.topicality,
.more-news{
  position: relative;
}

.topicality .text,
.more-news .text{
  width: 70%;
  margin: 0 0 40px 11px;
}

/*section topicality
------------------------------*/

.section-topicality{
  padding: 0 0 0 10px;
}

.section-topicality h2{
  color: #7b3fb6;
  margin: 0 0 15px 0;
}

.articles-topicality{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.topicality{
  width: 50%;
  margin: 0 0 20px 0;
  padding: 0 10px;
}

/*section more read
------------------------------*/

.section-more{
  padding: 0 10px 0 0;
}

.section-more h2{
  margin: 0 0 15px 10px;
  color: #009d78;
}

.articles-more{
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
}

.more-news{ 
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0 10px;
}

/*see more button
------------------------------*/

.see-more{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  margin: 25px 0;
  padding: 6px 38px;
  background: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  transition-property: transform;
  transition-duration: 0.5s;
}

.button:hover,
.button:active,
.button:focus{
  transform: scale(1.05);
}

.first-more{
  border: 3px solid #7b3fb6;
  color: #7b3fb6;
}

.second-more{
  border: 3px solid #009d78;
  color: #009d78;
}

/*footer
------------------------------*/

.footer{
  background: #62346f;
  padding: 20px;
  margin-top: 5px;
}

.footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer a,
.footer p{
  font-family: 'Lato', sans-serif;
  line-height: 18px;
  margin: 0px;
}

.footer a{
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
  text-decoration: underline;
  transition-property: transform;
  transition-duration: 0.3s;
}

.footer a:hover,
.footer a:active,
.footer a:focus{
  transform: scale(1.2);
}

/*js_elements
------------------------------*/
