@media (max-width: 768px) {

  /*
main css */

/*global
------------------------------*/

body{
  font: 11px arial;
  color: #fff;
}

p{
  line-height: 13px;
}

h1{
  font-size: 28px;
}

h2{
  font-size: 22px;
}


/*layout
------------------------------*/

.wrapper{
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

/*main
------------------------------*/


/*header
------------------------------*/
.header{
  height: 73px;
  padding: 0 15px;
}

.headernav,
.miscnav{
  display: none;
}

/*global articles
------------------------------*/


/*tag
------------------------------*/


/*social networks
------------------------------*/


/*section news
------------------------------*/

.slide-new,
.middle-new{
 margin: 20px 10px; 
}

.slide-new img,
.middle-new img{
  height: 416px;
}

.middle-new img{
  width: 148px;
}

.shortnew-panel{
  display: flex;
}

.short-new img{
  width: 236px;
}

/*section bottom global
------------------------------*/


/*section more read
------------------------------*/


/*see more button
------------------------------*/


/*footer
------------------------------*/

.footer{
  height: 55px;
  padding: 0 15px;
}

} 
